ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: grey;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link and background color on hover */
li a:hover {
  background-color: #555555;
  color: white;
}
/*creating a side nav bar*/
#navbar{
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  padding-top: 16px;
  
}
#nav-link{
  display: block;
  
  
}
main {
  margin-left: 160px;
  padding: 0px 10px;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:5px;
}
p{
    letter-spacing: 0.04em;
}

header {
    color:black;
    margin: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight:500;
}



  
  
